/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic';
    margin: auto; /* Added to remove default margin */
    overflow-y: auto;
}

/* Header styles */

nav {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background: #c80000;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1100;
   
}
.logo {
    margin-top: 1px;
    height: 80px;
    width: 200px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
  }
  
  

nav ul {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    gap: 20px;
    z-index: 1; /* Ensure the menuList is behind the search bar */
}

.ul-user{
  margin-left: 800px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
    display: inline-block;
}

nav ul li a:hover {
    background-color: white; 
    border-radius: 5px;
    color: black;
}

nav ul li.no-hover a:hover {
  background-color: transparent; /* Remove background color on hover */
  color: inherit; /* Inherit text color from parent */
}

  
  .menu-icon{
      display: none;
  }
  
  .menu-icon i{
      color: #fff;
      font-size: 30px;
  }
  
  @media (max-width:600px) {
      nav ul{
          position: absolute;
          top: 125px;
          left: 0;
          right: 0;
          flex-direction: column;
          text-align: center;
          background: #d80404;
          gap: 0;
          overflow: hidden;
      }
  
  
      nav ul li{
          padding: 20px;
          padding-top: 0;
      }
      .menu-icon{
          display: block;
      }
      #menuList{
          transition: all 0.5s;
      }
  }

/* ========================================================================= */

/* Centering the search bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Adjusted height to accommodate header */
    margin-top: 250px; /* Adjusted margin to push content below the fixed header */
    position: relative; /* Changed position to relative */
}

.search-bar {
    margin-right: 20px;
    margin-top: -550px;
}

.search-bar input[type="text"] {
    padding: 15px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    margin-top: -5px;
    padding: 15px 25px;
    background-color: #d80404;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

/* hover search btn */
.search-bar button:hover {
    background-color: #ffffff;
    color: #d80404;
    border-style: solid;
    border-width: 1px;
    border-color: #d80404;
}

.btn {
    transition: color 0.3s ease;
}


/* ========================================================================= */
.checked {
    color: orange;
  }

  .card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    width: 350px; /* Set a fixed width for all cards */
    height: 400px; /* Set a fixed height for all cards */
    position: relative;
    padding: 6px;
    margin-left: 700px;
}

.card:hover{
    background-color: lightgray;
    transform: scale(1.1);
}

.card-img-top {
    border-radius: 30px 30px 0 0; /* Apply border radius only to the top corners */
    object-fit: cover; /* Ensure the image covers the entire card area */
    width: 100%; /* Make the image fill the entire width of the card */
    height: 60%; /* Set the height of the image area */
}

.card-body {
    padding: 20px; /* Adjust padding as needed */
    height: 40%; /* Set the height of the card body area */
}

.btn-primary {
    font-size: 16px;
    color: white;
    background-color: #d80404;
    border-color: #fff;
    width: 150px;
    height: 50px;
    position: absolute; /* Position the button absolutely */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 1520px;
    margin-top: -90px;
}
.btn-primary:hover {
    background-color: black;
    border: none;
}

.btn-primary::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 125px;
    height: 0;
    border-top: 2px solid white;
    border-right: 2px solid white;
}


h5, h6 {
    color: black;
    margin-top: 10px; /* Add some top margin to headings */
}
