/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #c80000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
}


nav {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background: #c80000;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1100;
   
}
.logo {
    margin-top: 1px;
    height: 80px;
    width: 200px;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5));
  }
  


nav ul {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    gap: 20px;
    z-index: 1; /* Ensure the menuList is behind the search bar */
}

.ul-user{
  margin-left: 300px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
    display: inline-block;
}

nav ul li a:hover {
    background-color: white; 
    border-radius: 5px;
    color: black;
}

nav ul li.no-hover a:hover {
  background-color: transparent; /* Remove background color on hover */
  color: inherit; /* Inherit text color from parent */
}
.ul-user{
    margin-left: 300px;
  }

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.box-container {
    background: linear-gradient(to right, blue, red); /* Gradient background from blue to red */
    border: 2px solid black; /* Add a border */
    border-radius: 10px;
    margin: 10px; /* Add margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
}




.container-text {
    text-align: center;
    font-weight: bold;
    color: #ffff; /* White text */
    margin-top: 10px;
}

/* Circular containers */
.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/* Specific circle containers */
.circle1 {
    background-image: url('https://cdn.dribbble.com/users/812639/screenshots/6581902/business_1.gif');
}

.circle2 {
    background-image: url('https://i.pinimg.com/originals/0a/f3/c9/0af3c9613761d2d2394d99312aeba397.gif');
}

.circle3 {
    background-image: url('https://cdn.dribbble.com/users/1741046/screenshots/5479822/do-i-need-an-llc-for-this.dribbble.1a.gif');
}

.circle4 {
    background-image: url('https://i.pinimg.com/originals/d7/ae/01/d7ae0170d3d5ffcbaa7f02fdda387a3b.gif');
}

.circle5 {
    background-image: url('https://i.pinimg.com/originals/09/df/30/09df30f765d088be030da204f2e7ec32.gif');
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(95, 106, 255, 0.8), rgba(254, 123, 123, 0.8)); /* Gradient background with RGBA color stops */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.dashboard-background {
    background-image: url('https://i.ytimg.com/vi/ODsNXPCQYT8/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
}

.total-visitors {
    margin-top: 20px;
}

.total-visitors .circle-container {
    background-image: url('https://i.pinimg.com/originals/09/df/30/09df30f765d088be030da204f2e7ec32.gif'); /* Replace with the URL of your circular background image */
}
