* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Franklin Gothic;
}

body {
    height: 100%;
    width: 100%;
    background-color: white;
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
}

nav {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background: #c80000;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1100;
   
}

.logo {
    margin-top: 3px;
    height: 200px; 
    width: 220px; 
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.5)); 
  }

nav ul {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    gap: 20px;
    z-index: 1; /* Ensure the menuList is behind the search bar */
}

.ul-user{
  margin-left: 700px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
    display: inline-block;
}

nav ul li a:hover {
    background-color: white; 
    border-radius: 5px;
    color: black;
}

nav ul li.no-hover a:hover {
  background-color: transparent; /* Remove background color on hover */
  color: inherit; /* Inherit text color from parent */
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #fff;
    font-size: 30px;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 125px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #d80404;
        gap: 0;
        overflow: hidden;
    }

    nav ul li {
        padding: 20px;
        padding-top: 0;
    }
    
    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }
}

/* Card styles */
.card {
    position: relative; /* Add position relative */
    border-radius: 15px;
    border: 1px solid black; /* Added border */
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

/* Add the pseudo-element for the blur effect */


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 296px;
    height: 292px;
}

.card__content {
    padding: 20px;
}

.card__title {
    font-size: 24px; /* Increased font size for emphasis */
    margin-bottom: 10px;
    color: #333333;
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

.card__description {
    color: #333333;
    margin-bottom: 5px;
}

.card__button {
    background-color: #d80404;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: block;
    margin-top: 10px;
    width: calc(100% - 40px); /* Adjusted button width */
    margin: 0 auto; /* Centering the button */
}

.card__button:hover {
    background-color: #fff;
    color: #d80404; /* Change text color to red */
}

/* Unfavorite button styles */
.unfavorite-button {
    background-color: #ffffff;
    color: #d80404;
    border: 1px solid #d80404;
    padding: 6px 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 10px auto; /* Centering the button */
}

.unfavorite-button:hover {
    background-color: #d80404;
    color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.unfavorite-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    transition: transform 0.3s;
    z-index: -1;
}

.unfavorite-button:hover::before {
    transform: scaleX(1.2) scaleY(1.5);
}

ul{
    list-style: none;
}

