
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..\media\media\vlogos.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    {% load custom_filters %}
    <title>Business Details | ValVista</title>
    <link rel="stylesheet" href="{% static 'RegUpdForm.css' %}">
</head>
    {% if user.is_authenticated %}
    {% if user|has_group:'Admin' %}
    <header>
        <nav>
            <div class="logo">
                <a href="{%url 'dashboard' %}"><img class="logo"src ="..\media\media\valvista logo.png" alt="logo"></a>
            </div>
    
            <ul class="nav-links">
                <li><a href="{%url 'dashboard' %}"><i class="fa-solid fa-table-columns"></i> Dashboard</a></li>
                {% if user.is_authenticated%}
                <li><a href="{%url 'placelist' %}"><i class="fa-solid fa-list"></i> Place List</a></li>
                {%else%}
                <li><a ></i></a></li>
                {%endif%}
                <li><a href="{%url 'businessadmin' %}"><i class="fa-solid fa-list"></i></i> Business List</a></li>
                <li><a href="{%url 'approvallist' %}"><i class="fa-solid fa-check-to-slot"></i> Approval List</a></li>
                <li><a href="{%url 'archives' %}"><i class="fa-solid fa-box-archive"></i> Archive</a></li>
                {% if user.is_authenticated%}
                <li><a href="{%url 'logout' %}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
                <li><a><i></i>{{request.user}}</a></li>
                {%else%}
                <li><a href="{%url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                {%endif%}
                
            </ul>
        </nav>
    </header>
    {% elif user|has_group:'Business' %}
    <header>
        <nav>
            <div class="logo">
                <a href="{%url 'home' %}"><img class="logo"src ="media\media\valvista logo.png" alt="logo"></a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'businesshome' %}"><i class="fa-solid fa-house"></i> Profile</a></li>
                <li><a href="{% url 'businesslist' %}"><i class="fa-solid fa-clipboard-list"></i> View Business</a></li>
                <li><a href="{% url 'logout' %}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
                <li class="no-hover"><a style="color: white;"><i class="fa-solid fa-user"></i> Welcome, <strong> {{request.user}}!</strong></a></li>
            </ul>
        </nav>
    </header>
    {% endif %}
{% endif %}
<br><br><br><br>
        <div class="right-box">
            <div class="header-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Valenzuela_Seal.svg/768px-Valenzuela_Seal.svg.png" alt="Header Image">
        <h1> ValVista View Business</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
    
                    <div class="row">
                        <div class="col-md-6">
                    <div class="floating-label">
                        {{ form.name }}
                        <label for="placename"> Name</label>
                    </div>
                    <div class="floating-label">
                        {{ form.location }}
                        <label for="location">Location</label>
                    </div>
                    <div class="floating-label">
                        {{ form.description }}
                        <label for="description">Description</label>
                    </div>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <div class="floating-label">
                    <label for="user">Category</label>
                    </div> 
                    {{ form.categories }}
                    
                  
                        </div>
                        <div class="col">
                    <div class="floating-label">
                        {{ form.time }}
                        <label for="timeopen">Enter Opening Time</label>
                    </div>
                    <div class="floating-label">
                        {{ form.timeclose }}
                        <label for="timeclose">Enter Closing Time</label>
                    </div>
                </div>
                    <div class="col">
                    <div class="floating-label">
                        {{ form.cost }}
                        <label for="description">Cost</label>
                    </div>
                    
                
            </div>
            </div>
        </div>
      </div>
                <div class="col-md-6">
                    <div class="floating-label">
    
                        {{ form.map }}
                        <label for="description">Map</label>
                    </div>
                    <div class="custom-file">
                        <label class="custom-file-label" for="thumbnail">Choose Thumbnail Photo<br> {{ form.thumbnail }}</label><br><br>
                        <div class="form-group">
                            <label for="photo">Current Photos:</label>
                            {% for photos in business.photos.all %}
                                <img src="{{ photos.file.url }}" alt="Photo" style="width: 100px; height: 100px;">
                            {% empty %}
                                <p>No photos available.</p>
                            {% endfor %}
                        </div>
                        <div class="form-group">

                        </div>
                    </div>
                            <div class="subbut" style="text-align: center;">
                                <a  href="{% url 'approvallist'%}"class="btn btn-danger">Back</a>
                            </div>
                        </div>
                    </div>
                </form>

        </div>
        </div>