
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="\media\media\vlogos.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <title>Delete Visitor | ValVista</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>
<header>
    <nav>
        <div class="logo">
            <a href="{%url 'dashboard' %}"><img class="logo"src ="\media\media\valvista logo.png" alt="logo"></a>
        </div>

        <ul class="nav-links">
            <li><a href="{%url 'dashboard' %}"><i class="fa-solid fa-table-columns"></i> Dashboard</a></li>
 
            <li><a href="{%url 'placelist' %}"><i class="fa-solid fa-list"></i> Place List</a></li>
            <li><a href="{%url 'businessadmin' %}"><i class="fa-solid fa-list"></i></i> Business List</a></li>
            <li><a href="{%url 'approvallist' %}"><i class="fa-solid fa-check-to-slot"></i> Approval List</a></li>
            <li><a href="{%url 'archives' %}"><i class="fa-solid fa-box-archive"></i> Archive</a></li>
        </ul>
        <ul class="nav-links ul-user">
            <li class="no-hover"><a style="color: white;"><i class="fa-solid fa-user"></i> Welcome, <strong> {{request.user}}!</strong></a></li>
            <li><a href="{%url 'logout' %}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a></li>
           
            
        </ul>
    </nav>
  </header>
        <br><br><br><br><br><br>
        <div class="right-box">
            <div class="header-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Valenzuela_Seal.svg/768px-Valenzuela_Seal.svg.png" alt="Header Image">
        <h1> ValVista Delete Visitor</h1>
        <p> Are you sure you want to delete {{user.username}}?</p>

        <form method="post" action="{%url 'deletevisitor' user.id %} ">
            {% csrf_token %}
                <input type="submit" name="confirm">
                <a style="color: #c80000;" href ="{%url 'dashboard'%}">Cancel</a>
                
        </form>
        </div>
    </div>

