<div id="popup" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Select a Place</h2>
        <ul>
            {% for place in places %}
            {% if not place.archived %}
            <li>
                <a href="{% url 'update_place' place.id %}">
                    <img src="{{ place.thumbnail.url }}" alt="{{ place.name }}">
                    <span>{{ place.name }}</span>
                </a>
            </li>
            {% endif %}
            {% endfor %}

            {% for buss in businesses %}
            {% if not buss.archived %}
            {% if bus.approval %}
            <li>
                <a href="{% url 'update_place' buss.id %}">
                    <img src="{{ buss.thumbnail.url}}" alt="{{ buss.name }}">
                    <span>{{ buss.name }}</span>
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    // JavaScript to handle the popup
    // Display the popup when the picture is clicked
    document.getElementById('picture').addEventListener('click', function() {
        document.getElementById('popup').style.display = 'block';
    });

    // Close the popup when the close button is clicked
    document.getElementsByClassName('close')[0].addEventListener('click', function() {
        document.getElementById('popup').style.display = 'none';
    });
</script>